---
version: 1
interactions:
- request:
    body: '{"name":"waypoint-container-testdeploy","environment_variables":null,"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"container
      namespace creating by waypoint tests","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/namespaces
    method: POST
  response:
    body: '{"id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","name":"waypoint-container-testdeploy","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"container
      namespace creating by waypoint tests","secret_environment_variables":[],"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/namespaces/db6e444c-9672-447e-a2e2-c3a4d7b913e9
    method: GET
  response:
    body: '{"id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","name":"waypoint-container-testdeploy","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"container
      namespace creating by waypoint tests","secret_environment_variables":[],"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","name":"app-name-v0","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"unknown_privacy","description":null,"registry_image":"rg.nl-ams.scw.cloud/funcscwwaypointcontainertescfaxnfej/nginx:test","max_concurrency":null,"protocol":"unknown_protocol","port":80,"secret_environment_variables":[{"key":"WAYPOINT_DEPLOYMENT_ID","value":""},{"key":"WAYPOINT_SERVER_DISABLE","value":"1"}],"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/containers
    method: POST
  response:
    body: '{"id":"389a8b72-3363-4010-9941-9acf806fa213","name":"app-name-v0","namespace_id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.nl-ams.scw.cloud/funcscwwaypointcontainertescfaxnfej/nginx:test","max_concurrency":50,"domain_name":"waypointcontainertescfaxnfej-app-name-v0.functions.fnc.nl-ams.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[{"key":"WAYPOINT_DEPLOYMENT_ID","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$AQNoVXMSju96/fPtfiru3Q$VYUVkLvlg+LUemccNHQkDoR8kF5VSjoRrGyiPsB4emo"},{"key":"WAYPOINT_SERVER_DISABLE","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tCLlbzsZcs9n0FkJv5Ezcg$4Uz+CSMPH3q7UB5eKQDcoRbkVCpxuM/FxYAkVFco5Qw"}],"http_option":"enabled","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/containers/389a8b72-3363-4010-9941-9acf806fa213/deploy
    method: POST
  response:
    body: '{"id":"389a8b72-3363-4010-9941-9acf806fa213","name":"app-name-v0","namespace_id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.nl-ams.scw.cloud/funcscwwaypointcontainertescfaxnfej/nginx:test","max_concurrency":50,"domain_name":"waypointcontainertescfaxnfej-app-name-v0.functions.fnc.nl-ams.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[{"key":"WAYPOINT_DEPLOYMENT_ID","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$AQNoVXMSju96/fPtfiru3Q$VYUVkLvlg+LUemccNHQkDoR8kF5VSjoRrGyiPsB4emo"},{"key":"WAYPOINT_SERVER_DISABLE","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tCLlbzsZcs9n0FkJv5Ezcg$4Uz+CSMPH3q7UB5eKQDcoRbkVCpxuM/FxYAkVFco5Qw"}],"http_option":"enabled","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/containers/389a8b72-3363-4010-9941-9acf806fa213
    method: GET
  response:
    body: '{"id":"389a8b72-3363-4010-9941-9acf806fa213","name":"app-name-v0","namespace_id":"db6e444c-9672-447e-a2e2-c3a4d7b913e9","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.nl-ams.scw.cloud/funcscwwaypointcontainertescfaxnfej/nginx:test","max_concurrency":50,"domain_name":"waypointcontainertescfaxnfej-app-name-v0.functions.fnc.nl-ams.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[{"key":"WAYPOINT_DEPLOYMENT_ID","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$AQNoVXMSju96/fPtfiru3Q$VYUVkLvlg+LUemccNHQkDoR8kF5VSjoRrGyiPsB4emo"},{"key":"WAYPOINT_SERVER_DISABLE","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$tCLlbzsZcs9n0FkJv5Ezcg$4Uz+CSMPH3q7UB5eKQDcoRbkVCpxuM/FxYAkVFco5Qw"}],"http_option":"enabled","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/nl-ams/namespaces/db6e444c-9672-447e-a2e2-c3a4d7b913e9
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/nl-ams/namespaces/64dfec7c-f759-45e0-9aa0-da0833127e81
    method: DELETE
  response:
    body: '{"id":"64dfec7c-f759-45e0-9aa0-da0833127e81","name":"funcscwwaypointcontainertescfaxnfej","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"deleting","status_message":"","endpoint":"rg.nl-ams.scw.cloud/funcscwwaypointcontainertescfaxnfej","is_public":false,"size":0,"created_at":"2023-02-21T14:03:35.771773Z","updated_at":"2023-02-21T14:04:46.138054736Z","image_count":1,"region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
